body{background-color: black;}

#geforce-rtx{
    background-image: url(../img/mobile/geforce-rtx-3050.jpg);
    background-repeat: no-repeat;
    padding-top: 1114px;
    text-align: justify;
}

#rtx-On{
    background-image: url(../img/mobile/img-rtx-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 620px;
    padding-bottom: 20px;
    text-align: justify;
}

#dlss{
    background-image: url(../img/mobile/img-fondorendi-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.boton-verde {
    display: inline-block;
    padding: 10px 20px;
    background-color:chartreuse; 
    color: black; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#ray-tracing-minecraft{
    background-image: url(../img/mobile/img-minecraftrtx-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    padding-top: 500px;
    padding-bottom: 30px;  
    
 
}

#victoria-medida{
    background-image: url(../img/mobile/img-victoria-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    padding-top: 790px;
}

#drive-game{
    background-image: url(../img/mobile/img-drivegame-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: left; 
    padding-top: 550px;
    padding-bottom: 2px;
}

#transmision-en-vivo-fornite{
    background-image: url(../img/mobile/fornite-bg-mobile.jpg);
    background-repeat: no-repeat;
    padding-bottom: 180px;
    padding-top: 246px;
}

#studio-en-casa{
    background-image: url(../img/mobile/studio-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 10px;
    padding-top: 519px;
}
#mejora-tu-creativida{
    background-image: url(../img/mobile/mejora-creatividad-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 10px;
    padding-top: 430px;
}
#caracteristicas-y-beneficios{
    background-color:gray;
    background-size: cover;
    padding: 40px;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: auto; 
    
}
.fondo-negro{
    background-color: black;
}
#caracteristicas-y-beneficios,a{
    text-decoration: none; 
    color: white;
}
#caracteristicas-y-beneficios,p{
    font-weight: 400;
}
#caracteristicas-adicionales{
    background-color: black;
    background-image: url(../img/mobile/Captura\ de\ pantalla\ 2025-05-05\ 155002.png);
    background-size: cover;
    
    padding: 50px;
    padding-bottom: 900px;
}
.sub-titulos{
    font-size: 24px;
    color: white;
}

.texto-general{
    font-size: 14px;
    color: white;
    text-align: left;
    text-justify: auto;
}

#titulo-geforce{
    padding-top: 2px;
    padding-bottom: 30px;
}

#componentes{
    background-image: url(../img/mobile/img-fondocom-bg-mobile.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: auto; 
}

.titulo-componentes{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.text-blanco{
    color: white;
}

#comentarios-rtx{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#tabla{
    background-color: black;
    background-position: center;
}

.comentarios{
    font-size: 18px;
    line-height: 18px;
    background-color: #222,;
    padding: 40px;
    padding-top: 0px;
}

@media only screen and (max-width:414px){
    #geforce-rtx{
        background-image: url(../img/mobile/geforce-rtx-3050.jpg);
    }
    #rtx-On{
        background-image: url(../img/mobile/img-rtx-bg-mobile.jpg);
        
        background-repeat: no-repeat;
        padding-top: 630px;
        padding-bottom: 300px;
    }
    #dlss{
        background-image: url(../img/tablet/dlss-bg-tablet.jpg);
        background-size: cover;
    }

    #ray-tracing-minecraft{
        background-image: url(../img/mobile/img-minecraftrtx-bg-mobile.jpg);
        padding-top: 500px;
        padding-bottom: 30px;  
    }
    #victoria-medida{
        background-image: url(../img/mobile/img-victoria-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 630px;
    }
    #drive-game{
        background-image: url(../img/mobile/img-drivegame-bg-mobile.jpg);
        
    }
    #transmision-en-vivo-fornite{
        background-image: url(../img/mobile/fornite-bg-mobile.jpg);
    }
    #studio-en-casa{
        background-image: url(../img/mobile/studio-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        
    }
    #mejora-tu-creativida{
        background-image: url(../img/mobile/mejora-creatividad-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        padding-bottom: 10px;
        padding-top: 430px;
    }
    #caracteristicas-y-beneficios{
        background-color: #1a1a1a;
        background-size: cover; 
    }
}

@media only screen and (min-width:768px){
    #geforce-rtx{
        background-image: url(../img/tablet/geforce-rtx-3050-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 677px;
    }
    #componentes{
        background-image: url(../img/tablet/componentes-bg-tablet.jpg);
    }
    #rtx-On{
        background-image: url(../img/tablet/rtx-bg-tablet.jpg);
        padding-top: 620px;
        padding-bottom: 9px;
    }
    #dlss{
        background-image: url(../img/tablet/dlss-bg-tablet.jpg);
    }
    #ray-tracing-minecraft{
        background-image: url(../img/tablet/minecraft-rtx-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        text-align: center;
        padding-top: 570px;
        padding-bottom: 30px;   
    }
    #victoria-medida{
        background-image: url(../img/tablet/victoria-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 750px;
    }
    #drive-game{
        background-image: url(../img/tablet/drive-game-bg-tablet.jpg);
        padding-top: 790px;
    }
    #transmision-en-vivo-fornite{
        background-image: url(../img/tablet/fornite-bg-tablet.jpg);
        background-position: bottom;
        background-size: contain;
        padding-top: 120px;
        padding-bottom: 435px;
    }
    #studio-en-casa{
        background-image: url(../img/tablet/studio-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding-top:670px;
        
    }
    #mejora-tu-creativida{
        background-image: url(../img/tablet/creatividad-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        padding-bottom: 10px;
        padding-top: 430px;
    }
    #caracteristicas-y-beneficios{
        background-color: #1a1a1a;
        background-size: cover;
    }
    
    #geforce-experiencie{
        background-color: black;
        margin-bottom: 50px;
        text-align: left;
    }
    #directx{
        background-color: black;
        margin-bottom: 50px;
        text-align: left; 
    }
    #shadowplay{
        background-color: black;
        margin-bottom: 50px;
        text-align: left;
    }
    #nvidia-sync{
        background-color: black;
        margin-bottom: 50px;
        text-align: left;  
    }
    #nvidia-ansel{
        background-color: black;
        margin-bottom: 50px;
        text-align: left;   
    }
    #resizable-bar{
        background-color: black;
        margin-bottom: 50px;
        text-align: left;    
    }
}   

@media only screen and (min-width:1200px){
    #geforce-rtx{
        background-image: url(../img/geforce-rtx-3050-hero-background-image-spec2-bb770_550-t@2x.jpg);
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 290px;
    }
    
    #componentes{
        background-image: url(../img/dekstop/geforce-ultimate-platform-background-image-spec2-bb460_420-l.jpg);
        background-size: cover;
    }
    #rtx-On{
        background-image: url(../img/dekstop/geforce-rtx-on.jpg);
        background-position: center;
        background-size: 1250px;
        padding-top: 280px;
        padding-bottom: 240px;

    }
    #dlss{
        background-image: url(../img/dekstop/geforce-rtx-games-dlss-ai-bg-2560x770-d.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-left: 450px;
        padding-top: 100px;

    }
    #ray-tracing-minecraft{
        background-image: url(../img/dekstop/minecraft-rtx-on-1536.webp);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-left: 450px;
        padding-top: 400px;
    }
    #victoria-medida{
        background-image: url(../img/dekstop/geforce-rtx-esports-background-image-spec2-bb580_440-l.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 50px;
        padding-left: 650px;
        margin-left: 4px;
        text-align: left;
    }
    #drive-game{
        background-image: url(../img/dekstop/geforce-grd-module-bg-1350-l.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 310px;
        padding-bottom: 180px;
    }
    #transmision-en-vivo-fornite{
        background-image: url(../img/mobile/fornite-bg-mobile.jpg);
        background-position: center;
        background-size: 807px;
        padding-top: 0px;
        padding-bottom: 920px;
        
        padding-left: 445px;
    }
    #studio-en-casa{
        background-image: url(../img/dekstop/geforce-laptop-broadcast-app-background-image-spec2-bb580_440-l@2x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 160px;
        padding-bottom: 150px;
        
    }
    #mejora-tu-creativida{
        background-image: url(../img/dekstop/geforce-rtx-studio-1350x580-l.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 140px;
        padding-bottom: 334px;
        padding-left: 850px;
    }
    #caracteristicas-adicionales{
        background-color: black;
        background-image: url(../img/dekstop/Captura\ de\ pantalla\ 2025-05-05\ 215650.png);
        background-size: 1370px;
        background-position: top center;
        background-repeat: no-repeat;
    }
}