body{background-color: black;}

#geforce-rtx{
    background-image: url(../img/mobile/geforce-rtx-3050.jpg);
    background-repeat: no-repeat;
    padding-top: 1114px;
    text-align: justify;
}

#rtx-On{
    background-image: url(../img/mobile/img-rtx-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 620px;
    padding-bottom: 20px;
    text-align: justify;
}

#dlss{
    background-image: url(../img/mobile/img-fondorendi-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.boton-verde {
    display: inline-block;
    padding: 10px 20px;
    background-color:chartreuse; 
    color: black; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#ray-tracing-minecraft{
    background-image: url(../img/mobile/img-minecraftrtx-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    padding-top: 500px;
    padding-bottom: 30px;  
    
 
}

#victoria-medida{
    background-image: url(../img/mobile/img-victoria-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    padding-top: 790px;
}

#drive-game{
    background-image: url(../img/mobile/img-drivegame-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: left; 
}

.sub-titulos{
    font-size: 24px;
    color: white;
}

.texto-general{
    font-size: 14px;
    color: white;
    text-align: left;
    text-justify: auto;
}

#titulo-geforce{
    padding-top: 2px;
    padding-bottom: 30px;
}

#componentes{
    background-image: url(../img/mobile/img-fondocom-bg-mobile.jpg);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;   
}

.titulo-componentes{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

.text-blanco{
    color: white;
}

#comentarios-rtx{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#tabla{
    background-color: black;
    background-position: center;
}

.comentarios{
    font-size: 18px;
    line-height: 18px;
    background-color: #222,;
    padding: 40px;
    padding-top: 0px;
}

@media only screen and (max-width:414px){
    #geforce-rtx{
        background-image: url(../img/mobile/geforce-rtx-3050.jpg);
    }
    #rtx-On{
        background-image: url(../img/mobile/img-rtx-bg-mobile.jpg);
        
        background-repeat: no-repeat;
        padding-top: 630px;
        padding-bottom: 300px;
    }
    #ray-tracing-minecraft{
        background-image: url(../img/mobile/img-minecraftrtx-bg-mobile.jpg);
        padding-top: 500px;
        padding-bottom: 30px;  
    }
    #victoria-medida{
        background-image: url(../img/mobile/img-victoria-bg-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 630px;
    }

}

@media only screen and (min-width:768px){
    #geforce-rtx{
        background-image: url(../img/tablet/geforce-rtx-3050-bg-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 677px;
    }
    #componentes{
        background-image: url(../img/tablet/componentes-bg-tablet.jpg);
    }
    #rtx-On{
        background-image: url(../img/tablet/geforce-rtx-esports-background-image-spec2-bb580_440-p@2x.jpg);
        

        padding-top: 620px;
        padding-bottom: 200px;
    }
    

}   

@media only screen and (min-width:1200px){
    #geforce-rtx{
        background-image: url(../img/geforce-rtx-3050-hero-background-image-spec2-bb770_550-t@2x.jpg);
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 290px;
    }
    
    #componentes{
        background-image: url(../img/dekstop/geforce-ultimate-platform-background-image-spec2-bb460_420-l.jpg);
        background-size: cover;
    }
}
